body{
    color: $textColor;
    font: 18px 'Open Sans', Arial, sans-serif;
    background: $primaryBtm;

    .container{
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
}
.footer {
	padding: 30px;
}

